<nav class="navbar">
  <div class="container-fluid">

    <ul class="nav justify-content-end">


      <wiki-left-dropdown>Loading left drop down</wiki-left-dropdown>
      <wiki-branding>Loading branding</wiki-branding>
      <wiki-search>Loading search</wiki-search>

    </ul>





    <ul class="nav justify-content-end">

      <li class="nav-item">
        <a href="#" class="nav-link">Create account</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">Log in</a>
      </li>

      <wiki-right-dropdown>Loading right drop down</wiki-right-dropdown>

    </ul>





  </div>
</nav>
