<nav class="navbar">
  <div class="container-fluid">

    <ul class="nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" data-bs-toggle="dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Main Menu</a></li>
          <li><a class="dropdown-item" href="#">[move to side]</a></li>
          <li><a class="dropdown-item" href="#">Main page</a></li>
          <li><a class="dropdown-item" href="#">Contents</a></li>
          <li><a class="dropdown-item" href="#">Current Events</a></li>
          <li><a class="dropdown-item" href="#">Random article</a></li>
          <li><a class="dropdown-item" href="#">About Wikipedia</a></li>
          <li><a class="dropdown-item" href="#">Contact us</a></li>
          <li><a class="dropdown-item" href="#">Donate</a></li>
          <li><a class="dropdown-item">Contribute</a></li>
          <li><a class="dropdown-item" href="#">Help</a></li>
          <li><a class="dropdown-item" href="#">Learn to edit</a></li>
          <li><a class="dropdown-item" href="#">Community portal</a></li>
          <li><a class="dropdown-item" href="#">Recent changes</a></li>
          <li><a class="dropdown-item" href="#">Upload file</a></li>
        </ul>
      </li>
    </ul>



    <img src="/assets/wikilogo.png" alt="Bootstrap" width="50" height="50">

    <div class="vstack gap-0">
      <div class="p-0"><img src="/assets/wikipedia-wordmark-en.svg" alt="Bootstrap" width="120" height="18"></div>
      <div class="p-0"><img src="/assets/wikipedia-tagline-en.svg" alt="Bootstrap" width="117" height="13"></div>
    </div>

    <div class="d-flex justify-content-start">
      <nav class="navbar">
        <div class="container-fluid">

          <form class="d-flex" role="search">
            <input class="form-control me-auto" type="search" placeholder="Search Wikipedia">
          </form>
        </div>
      </nav>
    </div>


    <ul class="nav nav-links">

      <li class="nav-item">
        <a href="#" class="nav-link">Create account</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">Log in</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" data-bs-toggle="dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
          </svg>
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Pages for logged out editors <b class="nav-link " href="#">(learn more)</b></a></li>
          <li><a class="dropdown-item" href="#">Contributions</a></li>
          <li><a class="dropdown-item" href="#">Talk</a></li>
        </ul>
      </li>

    </ul>


  </div>
</nav>
