<app-second-nav>Loading second nav bar...</app-second-nav>

<div class="container-fluid">
  <div class="d-flex flex-row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <app-welcome-box>Loading welcome message...</app-welcome-box>
    </div>
    <div class="col-2">

    </div>


  </div>
</div>




<div class="container-fluid">
  <div class="d-flex flex-row p-1">
    <div class="col-2">

    </div>
    <div class="col-5">
      <app-featured-article>Loading featued article...</app-featured-article>
    </div>
    <div class="col-3">
      <app-in-the-news>Loading in the news...</app-in-the-news>
    </div>
    <div class="col-2">

    </div>


  </div>
</div>

<div *ngFor="let card of cards;">
  
  <div class="container-fluid">
    <div class="d-flex flex-row">
      <div class="col-2">

      </div>
      <div class="col-8">
        <app-home-cards title={{card.title}} text={{card.text}} imgPath={{card.imgPath}}  imgCaption={{card.imgCaption}}></app-home-cards>
      </div>
      <div class="col-2">

      </div>


    </div>
  </div>
</div>
