<ul class="nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
      </svg>
    </a>

    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarDropdown">
      <li><a class="dropdown-item">Pages for logged out editors <b class="nav-link " href="#">(learn more)</b></a></li>
      <li><a class="dropdown-item" href="#">Contributions</a></li>
      <li><a class="dropdown-item" href="#">Talk</a></li>
    </ul>
  </li>

</ul>

