<div class="d-flex">
  <div class="border">
    <div class="border m-2 p-1 border-info fw-bold">
      In the news
    </div>

    <div class="clearfix">
      <div class="float-end m-2">
        <img src="/assets/stones.webp">
        <p class="img-caption">The Rolling Stones in 1966</p>
      </div>

      <div class="m-2">
        <p>
          "Paint It Black" is a song recorded by the Rolling Stones (pictured), recorded in 1966 and released as a single in May.
          Two months later, London Records included it as the opening track on the American version of the band's studio album Aftermath.
          The song's unconventional instrumentation includes a prominent sitar, a Hammond organ, and castanets. Reviews at the time were mixed.
          Some music critics believed the sitar was used to attempt to copy the Beatles; others criticised its experimental style and doubted it commercial potential.
          Restrospectively, however it is considered a turning point in the band's development; Pitchfork called it "rock's most nihilistic hit to date".
          It spent 11 weeks (including 2 at number one) on the US Billboard Hot 100, and 10 weeks (including 1 at the top) on the UK Record Retailer chart.
          A 2007 re-issue spent 11 weeks on the UK Singles Chart. Inducted into the Grammy Hall of Fame in 2018, the song is ranked 213th on Rolling Stone's 500 Greatest Songs of All Time list. (Full article...)
        </p>
        <p class="text-end">
          Recently featured: Enoch Fenwick - Marriage License - Frilled lizard
        </p>
        <p class="text-end">
          Archive - By email - More featured articles - About
        </p>
      </div>
    </div>
  </div>

</div>
