<div class="d-flex justify-content-center">
  <div class="nav justify-content-center">

    <div class="card text-center bg-light" style="width: 60rem;">
      <div class="card-body">
        <h5 class="card-title">Welcome to <a href="#" class="card-link">Wikipedia</a>,</h5>
        <p class="card-text">
          The
          <a href="#" class="card-link">free</a><a href="#" class="card-link">encyclopedia</a>
          that<a href="#" class="card-link">anyone can edit</a>
          .
        </p>
        <p class="card-text2">
          <a href="#" class="card-link">6,663,043</a> articles in<a href="#" class="card-link">English</a>
        </p>
      </div>
    </div>

  </div>



</div>

