

<p><a routerLink="/main" routerLinkActive="active">

     <div class="row align-items-start">
       <div class="col">
         <img src="/assets/wikilogo.png" alt="Bootstrap" width="50" height="50">
       </div>
       <div class="col">
         <div class="vstack gap-0">
           <div class="p-0"><img src="/assets/wikipedia-wordmark-en.svg" alt="Bootstrap" width="120" height="18"></div>
           <div class="p-0"><img src="/assets/wikipedia-tagline-en.svg" alt="Bootstrap" width="117" height="13"></div>
         </div>
       </div>
     </div>

  </a></p>





