<div class="topnav">
  <div class="container-fluid">




    <div class="justify-content-center">
      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-1">
          <a href="#" class="visited">Main Page</a>

        </div>
        <div class="col-1">
          <a href="#" class="nav-link">Talk</a>

        </div>
        <div class="col-2">

        </div>



        <div class="col-1">
          <a href="#" class="visited">Read</a>

        </div>
        <div class="col-1">
          <a href="#" class="nav-link">View Source</a>

        </div>
        <div class="col-1">
          <a href="#" class="nav-link">View History</a>

        </div>
        <div class="col-1">
          <a href="#" class="nav-link">Tools</a>

        </div>
         <div class="col-2">

        </div>


      </div>


    </div>
  </div>

</div>





