<div class="container">
  <div class="row">
    <div class="col-8">
      <form #postForm="ngForm" (ngSubmit)="createAccount(postForm.value)">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" placeholder="Enter your username" ngModel name="Username" />
          <div class="text">You should choose a username that is different from your real name, as usernames are public and cannot be made private later.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" class="form-control" placeholder="Enter a password" ngModel name="Password" />
          <div class="text">It is recommended to use a unique password that you are not using on any other website.</div>
        </div>
        <div class="mb-3">
          <label for="confirm-password" class="form-label">Confirm Password</label>
          <input type="text" class="form-control" placeholder="Enter password again" ngModel name="Confirm_Password" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address (recommended)</label>
          <input type="text" class="form-control" placeholder="Enter your email address" ngModel name="Email" />
          <div class="text">Email is required to recover your account if you lose your password.</div>
          <div class="text">To protect the wiki against automated account creation, we kindly ask you to enter the words that appear below in the box (more info):</div>
        </div>
        <div class="text">CAPTCHA Security check</div>
        
        <button class="btn btn-light" typ="submit">
          Create your account
        </button>

      </form>
    </div>
  </div>
</div>
